<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Apache.NMS" version="1.5.1" targetFramework="net452" />
  <package id="Apache.NMS.ActiveMQ" version="1.5.6" targetFramework="net452" />
  <package id="Baidu.AI" version="3.6.14" targetFramework="net452" />
  <package id="Distracey" version="1.0.4.0" targetFramework="net452" />
  <package id="Distracey.Log4Net" version="1.0.4.0" targetFramework="net452" />
  <package id="log4net" version="2.0.3" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.2" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.2" targetFramework="net452" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="net452" />
  <package id="Microsoft.Bcl.Build" version="1.0.14" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net452" />
</packages>